<form (ngSubmit)="onSubmit()" #toolForm="ngForm">

  <md-input type="text" [(ngModel)]="model.name" name="data[email]" placeholder="Name" required></md-input>

  <md-input type="text" [(ngModel)]="model.description" placeholder="Description" required></md-input>


  <h4>Identification</h4>

  <md-input type="text" [(ngModel)]="model.brand" placeholder="Brand" required></md-input>

  <md-input type="text" [(ngModel)]="model.type" placeholder="Type" required></md-input>


  <h4>Purchase</h4>

  <md-input type="date" [(ngModel)]="model.purchaseDate" required></md-input>

  <md-input type="number" step="0.01" min="1" max="5000" [(ngModel)]="model.purchasePrice" required></md-input>


  <h4>Rental</h4>

  <md-input type="number" step="0.01" min="1" max="5000" [(ngModel)]="model.rentalPrice" required></md-input>

  <button md-button type="submit" [disabled]="!toolForm.form.valid">Save</button>

</form>
